/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.container {
  max-width: 800px;
  width: 80%;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  text-align: center;
}

/*メイン  ================================ */

.img-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://saola-com.github.io/corporate/img/top.png");
  background-size: cover;
}

.corporate-logo {
  margin: 30vh auto;
  text-align: center;
}

.corporate-logo img {
  width: 80%
}

.corporate-message img {
  width: 100px;
}

.corporate-message h2 {
  text-align: left;
  font-size: 24px;
}
