/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  color: rgba(0, 0, 0, 0.8);
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.container {
  width: 80%;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  text-align: center;
}

.clear {
  clear:left;
}

/*ヘッダー  ================================ */
header {
  width: 100%;
  height:300px;
  position: fixed;
  z-index: 1;
  text-align: right;
}

.menu {
  position: absolute;
  top: 100px;
  right: 30px;
  text-align: center;
}

header img {
  width: 30px;
}

header p {
  font-style: bold;
  font-size: 10px;
  margin-bottom: 20px;
}

/*フッター  ================================ */

footer {
  height: 400px;
  padding: 100px;
  background-image: url(https://saola-com.github.io/corporate/img/footer.png);
  background-size: cover;
}

.footer-left {
  float: left;
}

.footer-left img {
  width: 150px;
}

.footer-right {
    float: right;
    margin-top: 150px;
}

.footer-right li {
  float: left;
  margin-left: 30px;
}

.footer-right a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/*メイン  ================================ */

.img-wrapper {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  background-image: url("https://saola-com.github.io/corporate/img/top.png");
  background-size: cover;
}

.corporate-logo {
  text-align: center;
}

.corporate-logo img {
  width: 65%
}

.corporate-message {
  margin-top: 90px;
  margin-bottom: 140px;
}

.corporate-message img {
  width: 80px;
  margin-bottom: 50px;
}

.corporate-message h2 {
  text-align: left;
  font-size: 20px;
  line-height: 50px;
  width: 80%;
  margin: 0 auto;
}

.heading {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(254, 86, 86, 0.3);
}

.mission-wrapper {
  padding-top: 50px;
  margin-bottom: 120px;
}

.heading.mission {
  padding-left: 380px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  height: 120px;
}

.heading img {
  height: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
}

.heading h2 {
  line-height: 80px;
  font-size: 20px;
  float: left;
}

.catch-copy {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 30px;
}

.body-copy {
  font-size: 16px;
  color: rgba(45, 49, 51, 0.8);
  line-height: 40px;
}

.service-wrapper {
  padding-top: 50px;
  margin-bottom: 70px;
}

.heading.service {
  border-bottom-style: none;
  padding-left: 380px;
}

.arrow {
  width: 100%;
  margin-bottom: 20px;
}

.service-flow {
  margin: 0 auto;
}

.flow {
  width: 25%;
  float: left;
  padding: 5px;
}

.flow img {
  height: 100px;
}

.content {
  line-height: 30px;
}

.member-wrapper {
  padding-top: 50px;
  margin-bottom: 50px;
}

.heading.team {
  padding-left: 420px;
  margin-bottom: 50px;
}

.member {
  width: calc(100% / 3);
  float: left;
  padding: 10px;
}

.member img {
  width: 80%;
}

.position {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-wrapper {
  padding-top: 50px;
  margin-bottom: 130px;
}

.career {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.heading.about {
  padding-left: 370px;
  margin-bottom: 50px;
}

.info {
  margin-left: 200px;
}

.table {
  margin: 0 auto;
}

.table p {
  float: left;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.entry {
  width: 150px;
  text-align: left;
}

.line {
  width: 100px;
  height: 20px;
  margin: 0 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.8);
}

.answer {
  width: 450px;
  text-align: left;
}

.to-top {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
}
