/* スマホ向け================================== */

@media (max-width: 750px) {

    /* 共通設定 */

    .container {
      width: 100%;
    }

    .heading {
      margin: 0;
      padding: 0;
      height: 90px;
    }

    .haeding img {
      height: 60px;
    }

    .heading h2 {
      line-height: 30px;
    }

    /* video-wrapper */

    .top-video {
      width: 100%;
      height: 50vh;
    }

    .img-wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 50vh;
      padding-top: 200px;
      z-index: 1;
    }

    /* corporate-message */

    .corporate-message img {
      width: 60px;
      margin-bottom: 50px;
      filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    }

    .corporate-message h2 {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      margin: 0 auto;
    }


    /* mission-wrapper */

    .catch-copy {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .body-copy {
      font-size: 16px;
      font-weight: bold;
      color: rgba(45, 49, 51, 0.8);
      line-height: 30px;
      text-align: left;
    }

    /* service-wrapper */

    .heading.service {
      border-bottom: 1px solid rgba(254, 86, 86, 0.5);
    }

    .arrow {
      display: none;
    }

    .flow {
      width: 100%;
    }

    /* info-wrapper */

    .info {
      margin: 0;
      width: 100%;
    }

    .entry {
      width: 25%;
    }

    .line {
      width: 25%;
    }

    
    /* member-wrapper */

    .member {
      width: 100%;
    }




    /* phone-menu-iconの表示 */

    header {
      display: none;
    }

    .phone-menu {
      display: block;
      height: 64px;
      width: 100%;
      background-color: white;
      position: fixed;
      bottom: 0px;
      z-index: 1;
    }

    .phone-menu-icon {
      width: 25%;
      padding: 5px;
      text-align: center;
      float: left;
    }

    .phone-menu-icon img {
      height:30px;
    }

    .phone-menu-icon p {
      font-size: 20px;
      margin-bottom: 4px;
    }

    footer {
      position: absolute;
      bottom: 64px;
    }

}

/* 向け================================== */

@media (max-width: px) {

}
